@page
@model IndexModel
<h1>All Restaurants</h1>
@foreach (var Restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", Restaurant)
}

<div><a asp-action="Create">Add Restaurant</a></div>


@section footer {
    <h1>@Model.CurrentMessage</h1>
}
